@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lavender: #E6E6FA;
  --iris: #5D3FD3;
  --periwinkle: #CCCCFF;
}

.bg-lavender {
  background-color: var(--lavender);
}

.bg-iris {
  background-color: var(--iris);
}
.text-iris {
  color: var(--iris);
}
.border-iris {
  border-color: var(--iris);
}

.bg-periwinkle {
  background-color: var(--periwinkle);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}
